.form_control {
    display: flex;
}

.form_control label {
    font-size: .9em;
}

.form_control input {
    outline: none;
    border: none;
    border-radius: 3px;
}

.form_control input::placeholder{
    color: #000;
}

.column {
    flex-direction: column;
    align-items: start;
}

.justify {
    justify-content: center;
}

.bold label {
    font-weight: bold;
}

.align_start {
    align-items: start;
}