.form_control {
    display: flex;
    margin-bottom: 1em;
}

.form_control label {
    font-size: .9em;
    font-weight: bold;
    margin-right: 5px;
}

.form_control input {
    outline: none;
    border: none;
    border-radius: 3px;
    padding: .3em 4em .3em .2em;
    flex: 1;
}

.form_control input::placeholder{
    color: #000;
}

.column {
    flex-direction: column;
    align-items: start;
}

.marginBottom_zero {
    margin-bottom: 0;
}

.light label {
    font-weight: 400;
}