
.table table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin-bottom: 1em;
}

.table p {
    margin-bottom: 10px;
}

.table th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

