.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

.column {
    flex-direction: column;
}

.height {
    justify-content: center;
    height: 100%;
}

.align {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.auto {
    height: auto;
    justify-content: center;
}