.footer{
    border-top: 1px solid #0000003a;
    font-size: .78em;
    text-align: center;
    padding: .5em;
    width: 100%;
    color: #000;
}

.copy_right {
    margin-bottom: 5px;
}

.copy_right a {
    margin-right: .5em;
    color: #000;
    text-decoration: none;
    transition: 0.5s;
}

.copy_right a:hover {
    color: #2291F1;
}