.nav {
    display: flex;
    align-items: center;
    padding: 1em;
    width: 100%;
    background-color: #2291F1;
    color: #fff;
}

.nav a {
    font-weight: boldA;
    display: flex;
    align-items: center;
    flex: 1;
    text-decoration: none;
    color: #fff;
}

.nav svg {
    font-size: 1.5em;
    margin-right: .5em;
}

.list {
    display: flex;
    list-style: none;
}
.list a {
    color: #fff;
    text-decoration: none;
    margin-right: 1em;
}